@charset "utf-8";
body {
    overflow: hidden;
}
.header {
    width: 100%;
    height: 6.1vh; /*header height*/
    background-color: seagreen;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.header-img {
    height: inherit; /*Image height (inherit)*/
    width: 8.45vh; /*Image width*/
    box-sizing: border-box;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    height: 93.9vh;
}

#content-textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.75vh;
    line-height: 3.4375vh;
    vertical-align: middle;
    margin: 0;
    padding: 1.75vh;
    width: 50%;
    overflow: auto;
    resize: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 100%;
}
#content-textarea::placeholder {
    color: gray;
}

#content-view {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.75vh;
    line-height: 3.4375vh;
    padding: 1.75vh;
    width: 50%;
    overflow: auto;
    background-color: whitesmoke;
    vertical-align: middle;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#content-view strong {
    font-weight: 700;
}
#content-view h1 {
    font-size: 2em;
    margin: 0.75em 0 0.75em 0;
}
#content-view h2 {
    font-size: 1.5em;
    margin: 0.675em 0 0.675em 0;
}
#content-view h3 {
    font-size: 1.33em;
    margin: 0.5825em 0 0.5825em 0;

}
#content-view h4 {
    font-size: 1.17em;
    margin: 0.5425em 0 0.5425em 0;
}
#content-view h5 {
    font-size: 0.83em;
    margin: 0.4575em 0 0.4575em 0;
}
#content-view h6 {
    font-size: 0.67em;
    margin: 0.4175em 0 0.4175em;
}
#content-view code {
    font-family: 'Source Code Pro', monospace;
    color: black;
    background-color: #e9ecef;
}
#content-view pre {
    font-family: 'Source Code Pro', monospace;
    color: black;
    margin: 3vh 0 3vh 0;
    padding: 0 1vh 0 1vh;
    background-color: #e9ecef;
}
#content-view em {
    font-style: italic;
}
#content-view del {
    text-decoration: line-through;
}
#content-view a {
    color: royalblue;
}
#content-view a:hover {
    text-decoration: underline;
}
#content-view img {
    width: 100%;
}
#content-view ul {
    list-style: disc;
    line-height: 4.296875vh;
    padding-left: 5.5vh;
    padding-right: 5.5vh;
}
#content-view ul ul {
    list-style: circle;
}
#content-view ul ul ul {
    list-style: square;
}
#content-view ol {
    list-style: decimal;
    line-height: 4.296875vh;
    padding-left: 5.5vh;
    padding-right: 5.5vh;
}