@media (prefers-color-scheme: light) {
    .header {
        border-top: 1px solid black;
        border-right: 1px outset black;
    }
    .header-img {
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    #content-textarea {
        border: 1px solid black;
    }
    #content-textarea::placeholder {
        color: gray;
    }
    
    #content-view {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        background-color: whitesmoke;
    }
}
