.header {
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px outset black;
    display: flex;
    justify-content: space-between;
    background-color: seagreen;
    width: 100%;
    height: 6.1vh; /*header height*/
}
.header-img {
    box-sizing: border-box;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: inherit; /*7vh inherit*/
}

.content {
    display: flex;
    flex-direction: row;
    height: 93.9vh;
}

#content-textarea {
    box-sizing: border-box;
    border: 1px solid black;
    width: 50%;
    padding: 1.75vh;
    font-size: 2.75vh;
    line-height: 3.4375vh;
}
#content-textarea::placeholder {
    color: gray;
}

#content-view {
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    vertical-align: middle;
    overflow: auto;
    padding: 1.75vh;
    width: 50%;
    font-size: 2.75vh;
    line-height: 3.4375vh;
}

#content-view strong {
    font-weight: 700;
}
#content-view h1 {
    font-size: 2em;
    margin: 0.75em 0 0.75em 0;
}
#content-view h2 {
    font-size: 1.5em;
    margin: 0.675em 0 0.675em 0;
}
#content-view h3 {
    font-size: 1.33em;
    margin: 0.5825em 0 0.5825em 0;

}
#content-view h4 {
    font-size: 1.17em;
    margin: 0.5425em 0 0.5425em 0;
}
#content-view h5 {
    font-size: 0.83em;
    margin: 0.4575em 0 0.4575em 0;
}
#content-view h6 {
    font-size: 0.67em;
    margin: 0.4175em 0 0.4175em;
}
#content-view code {
    color: black;
    background-color: #e9ecef;
    font-family: 'Source Code Pro', monospace;
}
#content-view pre {
    color: black;
    background-color: #e9ecef;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-family: 'Source Code Pro', monospace;
}
#content-view em {
    font-style: italic;
}
#content-view del {
    text-decoration: line-through;
}
#content-view a {
    color: royalblue;
}
#content-view a:hover {
    text-decoration: underline;
}
#content-view img {
    width: 100%;
}
